
/*  Main Section Styling-------------------------------------------------------------------*/
.main-section {
    display: flex;
    justify-content: space-between;
    background-color: #002e53;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin-top: 90px;
}

.content {
    max-width: 50%;
    padding: 8% 12%;
}

h2 {
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 3px;
}

h1 {
    font-size: 3.8em;
    margin-top: 0.5em;
    line-height: 1.2;
    font-weight: bold;
}

.buttons {
    margin-top: 1em;
}

.buttons button {
    border-radius: 5px;
    margin-right: 1em;
    padding: 0.5em 1.5em;
    font-size: 1em;
    cursor: pointer;
    background-color: #fff;
    color: #002e53;
    border: none;
}

.social-media {
    margin-top: 1.5em;
}

.social-media a {
    margin-right: 1em;
    color: #fff;
    text-decoration: none;
}

.carousel {
    width: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel img {
    width: 100%;
    display: block;
}

/* Responsive Main Section */
@media (max-width: 768px) {
    .main-section {
        flex-direction: column;
        margin:0;
        padding-top: 100px;
    }
    .content {
        max-width: 100%;
        width: 100%;
        padding: 50px 20px;
        text-align: center;
    }
    .content h2{
        font-size: 0.7rem;
    }
    .content h1{
        font-size: 2.8rem;
    }
    .carousel {
        max-width: 100%;
        width: 100%;
        padding: 0 2px;
    }
    .carousel img {
        width: 100%;
        height: auto; /* Adjust height for responsive */
    }
}


/*  Main Section Styling-------------------------------------------------------------------*/
.about-section {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 5em;
    gap:0;
    background-color: #f8f9fa;
}

.image-container {
    position: relative;
    width: 50%;
    max-width: 600px;
    padding: 0em 0 0em 5em;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.experience-badge {
    position: absolute;
    top: -60px;
    left: 50px;
    background-color: #fff;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.389);
    text-align: center;
}

.experience-badge span {
    font-size: 2em;
    font-weight: bold;
    color: #0b3a5b;
}

.experience-badge p {
    margin: 0;
    font-size: 0.9em;
    color: #666;
}

.text-container {
    width: 50%;
    padding-left: 2em;
}

.text-container h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.text-container p {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 1em;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
        padding: 1em;
    }
    .image-container,
    .text-container {
        width: 100%;
        max-width: 100%;
        padding: 8em 1.5em 0em 1.5em;
    }
    .text-container {
        padding: 1.5em;
    }

    .experience-badge {
        top: 30px;
        left: 10px;
       
        border-radius: 50%;
        width: 150px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.389);
        text-align: center;
    }
}
